Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans->A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information.Databases are used for storing, maintaining and accessing any sort of data.

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. SQL databases use SQL (structured query language) for defining and manipulating the data, which is very powerful. In a NoSQL database, queries are focused on a collection of documents. Sometimes it is also called UnQL (Unstructured Query Language).SQL is used for manage data that has many schemas and relations. NoSQL is a non-relational database, that does not require a fixed schema and easy to scale.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans->Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

The CREATE TABLE command creates a new table in the database.
ex-

CREATE TABLE Persons (

    PersonID int,
    
    LastName varchar(255),
    
    FirstName varchar(255),
    
    Address varchar(255),
    
    City varchar(255)
    
);

The DROP TABLE command deletes a table in the database.
ex-

DROP TABLE Shippers;

The ALTER TABLE command adds, deletes, or modifies columns in a table and also adds and deletes various constraints in a table.

ex-

ALTER TABLE Customers

ADD Email varchar(255);

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

ex-

TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans->A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.

The INSERT statement introduces new rows into an existing table.

ex-

INSERT INTO employees (name, department, salary)


VALUES ('John Doe', 'IT', 50000);

The DELETE statement removes a row or combination of rows from a table.

ex-

DELETE FROM employees

WHERE id = 2;

The UPDATE statement enables users to update a row or group of rows in a table.

ex-

UPDATE employees

SET salary = 60000

WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

ans->DQL is a portion of a SQL statement that allows you to get and organise data from a database. 

SELECT statement is used to retrieve data from a database table.

ex-

SELECT * FROM employees;

SELECT c1 FROM employees;

Q5. Explain Primary Key and Foreign Key.

ans->A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ans-> we can create Cursor object using the cursor() method of the Connection object/class.

execute() method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mycursor.execute("CREATE TABLE if not exists test1.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT)")
mycursor.execute("insert into test1.test_table values(1549,'Anisha',9.54)")
mydb.commit()
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

ans->1.Getting Data (From, Join)

2.Row Filter (Where)

3.Grouping (Group by)

4.Group Filter (Having)

5.Return Expressions (Select)

6.Order & Paging (Order by & Limit / Offset)